.cell-row {
	height: 50px;
}

.cell {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
	display: inline-block;
}

.cell>img {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 50px;
}

.cell-hover {
	display: none;
	background-color: yellow;
	opacity: 0.5;
}

.selected-cell .cell-hover {
	background-color: green;
}

.cell:hover .cell-hover,.selected-cell .cell-hover {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#new td {
	padding: 5px;
}

.cell .obj-name {
	display: none;
}

.cell:hover .obj-name {
	display: inline-block;
}

.cell:hover {
	
}

.obj-name {
	position: absolute;
	bottom: 100%;
	white-space: nowrap;
	font-weight: bold;
}

label[for="type-red"],.Red {
	color: red;
	font-weight: bold;
}

label[for="type-green"],.Green {
	color: #55FF55;
	font-weight: bold;
}

label[for="type-blue"],.Blue {
	color: #7777FF;
	font-weight: bold;
}

#new-message {
	color: #FF0000;
}

#game {
	display: inline-block;
	padding: 20px;
	position: relative;
}

#data {
	display: inline-block;
	vertical-align: top;
}

.data-title {
	padding-right: 10px;
	font-weight: bold;
	color: #BBBBBB;
}

.game-dropdown {
	display: inline-block;
	position: absolute;
	border: 2px solid #999999;
}

.dropdown-button {
	width: 100%;
}

.event-attack {
	color: #CC3333;
}

.event-kill {
	color: #FF0000;
}

.current-action {
	font-size: 1.5em;
	font-weight: bold;
}

.leaderboard td {
	padding: 2px 5px;
}

.leaderboard .data-title {
	font-size: 1.25em;
}