.cell-row {
	height: 50px;
}

.cell {
	position:relative;
	display: inline-block;
	height: 50px;
	width: 50px;
}

.cell>img {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 50px;
}