<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="pitModule">
<head>
<meta charset="UTF-8" />

<title>Forsaken Pit</title>
<script
  src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

<script src="/js/webservice.js"></script>

<script src="/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="/css/common.css" />

<script src="/index.js"></script>
<link rel="stylesheet" type="text/css" href="/index.css" />

</head>
<body ng-controller="IndexCtrl">
  <div id="new">
    <table>
      <tbody>
        <tr>
          <td>
            <input type="text" placeholder="New Character Name"
              ng-model="newName">
          </td>
          <td>
            <input id="type-red" type="radio" name="type" value="Red"
              ng-model="newType">
            <label for="type-red">Red</label>
          </td>
          <td>
            <input id="type-green" type="radio" name="type"
              value="Green" ng-model="newType">
            <label for="type-green">Green</label>
          </td>
          <td>
            <input id="type-blue" type="radio" name="type" value="Blue"
              ng-model="newType">
            <label for="type-blue">Blue</label>
          </td>
          <td>
            <input type="button" value="New Character"
              ng-click="createNewCharacter()"
              ng-disabled="newCharacterCall.running">
          </td>
          <td id="new-message">{{newCharacterMessage}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="game">
    <div class="cell-row" ng-repeat="cellRow in cellRows">
      <div class="cell" ng-repeat="cell in cellRow"
        ng-click="onCellClick($event, cell)"
        ng-class="{'selected-cell': cell===selectedCell}">
        <img src="/img/ground.png" ng-show="cell.grounded">
        <img src="/img/ground2.png" ng-hide="cell.grounded">
        <div class="cell-hover"></div>

        <img ng-src="/img/{{obj.type}}.png"
          ng-repeat-start="obj in cell.objs">
        <span class="obj-name" ng-repeat-end>{{obj.name}}</span>

      </div>
    </div>
  </div>

  <div class="game-dropdown" ng-show="showingDropdown"
    ng-style="dropdownStyle">
    <div class="dropdown-action" ng-repeat="action in dropdownActions">
      <input class="dropdown-button" type="button"
        value="{{action.title}}" ng-click="doAction(action)">
    </div>
  </div>

  <div id="data">
    <table>
      <tbody>
        <tr>
          <td class="data-title">Name</td>
          <td>
            {{player_name}} (
            <span ng-class="player_type">{{player_type}}</span>
            )
          </td>
        </tr>
        <!-- <tr>
          <td class="data-title">Depth</td>
          <td>{{depth}}</td>
        </tr>
         -->
        <tr>
          <td class="data-title">Points</td>
          <td>{{points}}</td>
        </tr>
        <tr>
          <td class="data-title">Firepower</td>
          <td>{{firepower}}</td>
        </tr>
        <tr>
          <td class="data-title">Health</td>
          <td>{{health}} / {{max_health}}</td>
        </tr>
        <tr>
          <td colspan="2" class="current-action">{{currentAction}}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <table class="leaderboard">
        <thead>
          <tr class="data-title">
            <td colspan="3">Leaderboard</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Name</td>
            <td>Points</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="leader in leaderboard">
            <td>{{$index + 1}}</td>
            <td>{{leader.name}}</td>
            <td>{{leader.points}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="events">
    <div ng-repeat="event in events">
      <span ng-class="'event-' + event.event_type">{{event.message}}</span>
    </div>
  </div>
</body>
</html>
